<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find dd_502_sim)/models/dd_502_robot_gazebo.xacro"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find dd_502_sim)/worlds/win.world"/>
    </include>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model dd_502_robot_gazebo -param robot_description "/>
</launch>
